.movie-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 319px;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.movie-card__link {
    display: flex;
    width: 360px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}

.movie-card__title {
    display: flex;
    align-self: center;
    width: 67%;
    text-align: left;
    margin: 0 0 0 18px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000;
}

.movie-card__duration {
    text-align: right;
    margin: 18px 18px 18px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #a0a0a0;
}

.movie-card__image {
    width: 360px;
    height: 200px;
    object-fit: cover;
}

.movie-card__like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    min-height: 29px;
    background-color: #f9f9f9;
    border-width: 0px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    margin: 18px auto;
}

.movie-card__like_active {
    background-color: #ff3055;
    background-image: url(../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px 4.5px;
}

.movie-card__like_saved {
    background-image: url(../../images/like-save-movie.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px 7px;
}

.movie-card__like:hover {
    cursor: pointer;
}

@media screen and (max-width: 1160px) {
    
    .movie-card {
        width: 342px;
        height: 309px;
    }

    .movie-card__image {
        width: 342px;
        height: 190px;
    }

    .movie-card__link {
        width: 342px;
    }
}

@media screen and (max-width: 767px) {
    
    .movie-card {
        width: 300px;
        height: 271px;
    }

    .movie-card__image {
        width: 300px;
        height: 168px;
    }

    .movie-card__link {
        width: 300px;
    }

    .movie-card__title {
        font-size: 12px;
        margin: 0 0 0 14px;
    }

    .movie-card__duration {
        margin: 14px 14px 14px 0;
        font-size: 10px;
        line-height: 18px;
        color: #a0a0a0;
    }
}