.page {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  font-family: "Inter", "Arial ", sans-serif;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  color: #000;
}