.saved-movies {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    flex-wrap: wrap;
}

.saved-movies__text {
    display: flex;
    margin: 26px 0 0;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}