.header {
    display: flex;
    width: 100%;
    min-height: 524px;
    background-color: #073042;
    justify-content: center;
    align-items: center;
}

.header__logo {
    display: flex;
    position: relative;
    width: 320px;
    height: 320px;
}

.header__title {
    position: absolute;
    color: #fff;
    font-size: 50px;
    line-height: 58px;
    width: 730px;
    text-align: center;
    z-index: 2;
}