.header__landing {
    display: grid;
    width: 100%;
    max-width: 1280px;
    max-height: 74px;
    background-color: #073042;
    grid-template-columns: 68px minmax(68px, auto);
    align-items: center;
    justify-content: space-between;
}

.header__main {
    background-color: #fff;
}

.header__auth {
    width: 100%;
    max-width: 396px;
    margin: 70px auto 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-home-link {
    display: flex;
}

.header__nav-logo {
    width: 38px;
    height: 38px;
    margin: 18px 0 18px 70px;
}

.header__nav-logo-auth {
    margin: 0;
}

.header__nav-link {
    display: flex;
    justify-self: end;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 20px;
    margin: 21px 10px;
    border-radius: 3px;
}

.header__nav-link-movies {
    display: flex;
    justify-self: end;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000;
    margin: 0 0 0 20px;
}

.header__nav-link_active {
    background-color: #2BE080;
    color: #000;
}

.header__nav-link_active {
    font-weight: 500;
}

.header__nav-link:nth-last-child(1) {
    margin-right: 70px; 
}

.header__account-button {
    display: flex;
    width: 100px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
    margin: 0 70px 0 50px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #000;
}

.header__account-logo {
    margin: 0 7px 0 0;
}

.header__nav_mobile {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 520px;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 1;
    background-color: #fff;
}

.header__overlay {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    content: "";
    background-color: #000;
    opacity: 0.3;
    z-index: 2;
}

.header__nav-link-movies_mobile {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    margin: 0 0 28px 0;
}

.header__account-button_mobile {
    margin: 115% 0 0 0;
}

.header__nav-link-movies-mobile_active {
    text-decoration: underline;
}

.header__nav-exit {
    display: flex;
    align-self: end;
    margin: 22px 22px 105px auto;
}

@media screen and (max-width: 1160px) {
    .header__auth {
        margin: 241px auto 0;
    }

    .header__nav-logo {
        margin-left: 30px;
    }

    .header__nav-link {
        padding: 8px 20px;
    }

    .header__nav-link:nth-last-child(1) {
        margin-right: 30px
    }
}

@media screen and (max-width: 400px) {
    .header__account-button_mobile {
        margin: 90% 0 0 0;
    }

    .header__auth {
        display: flex;
        margin: 241px auto 0;
        justify-content: center;
    }

    .header__nav-logo {
        margin-left: 14px;
    }

    .header__nav-link {
        padding: 5px 12px;
    }

    .header__nav-link:nth-last-child(1) {
        margin-right: 14px
    }
}